/sae-1_01-implementation-besoin-client-solution/.vs
/sae-1_01-implementation-besoin-client-solution/x64
/sae-1_01-implementation-besoin-client-solution/project-sae-1_01/x64
/sae-1_01-implementation-besoin-client-solution/Tests/x64